@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url(../fonts/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url(../fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url(../fonts/Rubik-Regular.ttf);
}